.createNavButton(){
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1% 3%;
    margin: 2%;
    background: @brownColor;
    border-radius: 10px;
    color: @lightestColor;
    border: 1px solid @brownColor;
    &:hover{
        background: lighten(@brownColor, 20%);
        color: @brownColor;
    }
}