header{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    @media @mobile{
        flex-direction: column;
    }
    @media @tablet{
        flex-direction: column;
    }
    h1{
        color: @redColor;
    }
    a{
        text-decoration: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        margin: 3% 0;
        width: 40%;
        @media @mobile{
            width: 90%;
            align-items: center;
            flex-direction: column;
        }
        @media @tablet{
            width: 90%;
        }
        a{
            .createNavButton();
            width: 20%;
            @media @mobile{
                margin-top: 2%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
    }
    border-bottom: 3px solid @purpleColor;
}